/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $light-blue;
  &:hover {
    background-color: lighten($light-blue,20);

  }
}

.error {
  background-color: $pink-red;
  &:hover {
    background-color: lighten($pink-red,20);

  }
}

.info {
  background-color: $magenta;
  &:hover {
    background-color: lighten($magenta,20);

  }
}

.success {
  background-color: #63cc82;
  &:hover {
    background-color: lighten(#63cc82,20);

  }
}

.warning {
  background-color: #fd7856;
  &:hover {
    background-color: lighten(#fd7856,20);

  }
}
